/* ejemplo2.css   cc19114  */

pais {
    font-family: "Roboto", sans-serif;
    background: #4CAF50;
    width: 100%;
    border: 0;
    color: #000000;
    font-size: 17px;
    position: relative;
    z-index: 1;
    text-align: justify;
    display: block;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
departamento{
    padding: auto;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}

cabecera{
    background-color: khaki;}

habitantes{
    background-color: lightgreen;}

altura{
    background-color:lightsalmon;}